@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MVC Chargify Direct Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chargify Direct Example">
    <meta name="author" content="Kori Francis">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" media="screen" />
    <style type="text/css">
        /* Sticky footer styles
      -------------------------------------------------- */

        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -60px;
        }

        /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 60px;
        }

        #footer {
            background-color: #f5f5f5;
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @@media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }



        /* Custom page CSS
      -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
        }

            .container .credit {
                margin: 20px 0;
            }

        legend {
            margin-bottom: 0px;
        }

        .form-horizontal .control-group {
            margin-bottom: 5px !important;
        }
    </style>
    @RenderSection("head", required: false)
</head>

<body>
    <div id="wrap">

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>Chargify Direct .NET Example</h1>
            </div>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
            {
                <p style="color: #ff0000">@ViewBag.Message</p>
            }
            @RenderBody()
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="muted credit" style="position: relative;">
                <span style="position:absolute; top:0; right:0;">Example courtesy <a href="http://twitter.com/djbyter" target="_blank">Kori Francis</a> based on the documentation <a href="http://docs.chargify.com/chargify-direct-introduction" target="_blank">here</a>. See <a href="https://github.com/kfrancis/ChargifyDirectSampleDotNet" target="_blank"><code>Github Repo</code></a>, @DateTime.Now.Year.</span>
                <script data-gratipay-username="kfrancis"
                        data-gratipay-widget="button"
                        src="//gttp.co/v1.js"></script>
            </p>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
